---
layout: default
---

<div class="home">
  <div class="sections">
    <!--
    <div class="section-block-row">
      <div class="section-block left">
        {% include _sections/details.html %}
      </div>
      <div class="section-block right">
        {% include _sections/rsvp.html %}

        {% include _sections/request.html %}

        {% include _sections/registries.html %}
      </div>
    </div>
    <div class="section-block-row">
      {% include _sections/map.html %}
    </div>
    -->
    <div class="section-block-row">
      {% capture my_include %}{% include _sections/thanks.md %}{% endcapture %}
      {{ my_include | markdownify }}
    </div>
    <div class="section-block-row">
      {% include _sections/gallery.html %}
    </div>
  </div>
</div>
