---
layout: default
---

<div class="home">
  <h1>Thanks!</h1>
  <p>Olivia and Logan have gotten your RSVP, thanks for letting us know! Use the button below to go back to the homepage or check out where we are registered!</p>

  <a href="{{ site.baseurl }}/index.html" class="button">Go back home</a>

  {% include _sections/request.html %}

  {% include _sections/registries.html %}
</div>
