<h3 class="section-header">Ceremony & Reception</h3>
<p>August 10th, 2019</p>
<ul>
    <li>4:00 PM - Ceremony</li>
    <li>5:00 PM - Cocktail Hour</li>
    <li>6:00 PM - Dinner & Dance</li>
</ul>
<div title="Add to Calendar" class="addeventatc">
  Add to Calendar
  <span class="start">08/10/2019 04:00 PM</span>
  <span class="end">08/10/2019 11:00 PM</span>
  <span class="timezone">America/Chicago</span>
  <span class="title">Berch Radloff Wedding</span>
  <span class="location">Rustic Rose Event Barn 3275 400th Street Roland IA, 50236</span>
</div>
<h3 class="section-header">Location</h3>
<p><i>All cars will be valet parked by venue staff</i></p>
<a href="https://www.rusticrosebarn.com/">
  <h3>Rustic Rose Event Barn</a></br>3275 400th Street<br/>Roland IA, 50236</h3>
<h3 class="section-header">Hotels</h3>
<p><i>Free shuttle to and from Comfort Inn Story City</i></p>
<div class="sections">
  <div class="section-block-row">
    <div class="section-block left">
      <b><a href="https://www.choicehotels.com/iowa/story-city/comfort-inn-hotels/ia098?source=gyxt">Comfort Inn - Story City</a></b>
      </br>
      ~10 minutes
      </br>
      425 Timberland Drive<br>Story City, IA 50248
      </br>
      (515) 733-6363
    </div>
    <div class="section-block right"><b><a href="https://www.ihg.com/holidayinnexpress/hotels/us/en/ames/amwne/hoteldetail?cm_mmc=GoogleMaps-_-EX-_-US-_-AMWNE">Holiday Inn Express - Ames</a></b>
      </br>
      ~20 minutes
      </br>
      2600 E. 13th Street<br>Ames, IA 50010
      </br>
      (515) 232-2300
    </div>
  </div>
</div>
