<h3 class="section-header">Photos</h3>
<div class="gallery">
  {% for image in site.static_files %}
      {% if image.path contains 'resources/gallery' %}
          <img src="{{ image.path }}" alt="image" class="gallery-image">
      {% endif %}
  {% endfor %}
</div>
