<h3 class="section-header">Map</h3>
<div class="overlay" onClick="style.pointerEvents='none'"></div>
<iframe src="https://www.google.com/maps/d/embed?mid=1UMmjgmLY12DymdYOO9r6Qj6aD4cowC0W&z=11" width="100%" height="600"></iframe>
