<h3 class="section-header">Registries</h2>
<ul>
  <li><a href="http://tgt.gifts/Olivia-Logan" class="button">Target</a></li>
  <li><a href="https://www.amazon.com/wedding/share/Olivia-Logan" class="button">Amazon</a></li>
  <li><a href="https://www.llbean.com/wl/ZHC94KBV9Q" class="button">L.L.Bean</a></li>
</ul>
