<script type="text/javascript">
  function show(){
    var guestsRadio = document.getElementById('number of guests').style.display ='block';
  }

  function hide(){
    document.getElementById('number of guests').style.display = 'none';
  }
</script>

<h3 id="rsvp" class="section-header">RSVP</h3>
<p>Please respond by June 14th</p>
<form class="rsvp-form" method="POST" action="https://formspree.io/lradloff79@gmail.com">
  <input type="text" name="name" placeholder="Name">
  <input type="radio" id="coming" name="rsvp" value="coming" checked="checked" onclick="show();"><label style="float:left;" for="coming">Coming! 🎉</label>
  <input type="radio" id="not coming" name="rsvp" value="not coming" onclick="hide();"><label style="float:right;" for="not coming">Can't come 😢</label>
  <input type="text"  id="number of guests" name="guests" pattern="\d*" placeholder="Number of guests attending" style="display:block;">
  <input type="hidden" name="_next" value="{{ site.baseurl }}/submitted.html" />
  <input type="text" name="_gotcha" style="display:none" />
  <button type="submit">Submit</button>
</form>
