<header class="site-header1">
  <script>
    addEventListener('load', function (e) {
      document.getElementById('header-image').classList.add('animate');
      document.getElementById('header-image-text').add('animate');
    });
  </script>
  <div id="header-image" class="header-image">
    <img src="{{ "/resources/liv-logan.jpeg" | prepend: site.baseurl }}" alt="Photo of Olivia and Logan" width="100%" height="auto">
    <div id="header-image-text" class="header-image-text">
      <h1 class="site-title">
        Olivia<image src="{{ "/resources/heart.png" | prepend: site.bareurl }}" alt="heart logo" class="header-logo">Logan
      </h1>
      <h3 class="wedding-details">August 10th, 2019 • Roland, IA</h3>
    </div>
  </div>
</header>
