/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.site-title {
    font-size: $title-font-size;
    font-weight: 700;
    margin-bottom: 0;
    color: $text-color;
    text-transform: uppercase;

    @include media-query($on-palm) {
        font-size: 24px;
    }

    @include media-query($on-small-palm) {
        font-size: 18px;
    }
}

.wedding-details {
  font-weight: 300;
  color: $text-color;
  text-transform: uppercase;

  @include media-query($on-palm) {
      font-size: 12px;
  }

  @include media-query($on-small-palm) {
      font-size: 10px;
  }
}

.header-image {
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
    background-color: $background-color;
}

.header-logo {
    height: $title-font-size;
    vertical-align: middle;
    padding: 0px 5px 5px 5px;
}

.header-image-text {
    font-weight: 650;
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.animate {

  .header-image-text {
    transition-property: top;
    transition-duration: 5s;
    top: 85%;
  }

  > img {
    transition-property: opacity;
    transition-duration: 5s;
    opacity: 0.25;
  }
}

.header-button {
  max-width: 100px !important;
  text-align: center;
}

.site-nav {
    display: none;
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    text-align: center;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.home {
    text-align: center;
}

.sections {
    margin-bottom: 5px;
    @extend %clearfix;
}

.section-block-row {
    @extend %clearfix;
}

.section-block {
    width: 49%;

    &.left {
        float: left;
        margin-right: 0;
    }

    &.right {
        float: right;
        margin-left: 0;
    }

    @include media-query($on-palm) {
        width: 100%;
        float: none;
    }
}
.section-header {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    color: $brand-color;
}

.section-content {
    text-align: center;
}

div#addeventatc1 {
  visibility:hidden;
  background-color: $brand-color !important;
  color: $background-color !important;
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family !important;
  width: 100% !important;
  max-width: 250px !important;
  padding: 12px 20px !important;
  margin: 8px 0 !important;
  border: 1px solid $text-color !important;
  border-radius: 4px !important;
  box-sizing: border-box !important;
}

.addeventatc .addeventatc_icon {
  visibility: hidden;
}


.button {
    width: 100%;
    max-width: 400px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid $text-color;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: $brand-color;
    color: $background-color;
    vertical-align: middle;

    &:hover {
      text-decoration: none;
    }

    &:visited {
      color: $background-color;
    }
}

.rsvp-form {
    button {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid $text-color;
      border-radius: 4px;
      box-sizing: border-box;
      background-color: $brand-color;
      color: $background-color;
      font-size: $base-font-size;
      font-family: $base-font-family;
    }

    input {
      &[type=text], &[type=number], &[type=radio] + label {
        width: 100%;
        padding: 12px 16px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid $text-color;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: $base-font-size;
        font-family: $base-font-family;
        color: $text-color;
        background-color: $background-color;
      }

      &[type=radio] {
        display: none;
        visibility: hidden;
      }

      &[type=radio] + label {
        width: 49%;
        color: $text-color;
      }

      &[type=radio]:checked + label {
        color: $background-color;
        background-color: $brand-color;
      }

      &::placeholder {
        color: lighten($text-color, 15%);
      }
  }
}

.gallery {
  width: 100%;
  margin-bottom: 20px;
  display: block;
}

.gallery-image {
    max-height: 175px;
    display: inline-block;
    padding: 4px;

    @include media-query($on-palm) {
        width: 95%;
        height: auto;
        max-height: inherit;
    }
}

/* Disables scrolling on map*/
.overlay {
    background:transparent;
    position:relative;
    width:100%;
    height:600px;
    top:600px;
    margin-top:-600px;
}

.page-content {
  display: block;
  position: relative;
    padding: $spacing-unit/3 0;
}

.page-content::after {
  background-image: $background-image;
  opacity: 0.15;
  background-repeat: round;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
